
<nav class="header__inline-menu">
	<ul class="list-menu list-menu--inline" role="list">
	{% assign list__item_megamenu = '' %}
	{%- for link in section.settings.menu.links -%}

		{% capture MenuDropdown %}
			<header-menu>
				<details id="Details-HeaderMenu-{{ forloop.index }}" class="menu__dropdown-nomega">
					<summary class="header__menu-item list-menu__item link focus-inset">
					<span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
					{% render 'icons' with icon:'caret' %}
					</summary>
					<ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
					{%- for childlink in link.links -%}
						<li class="item item--{{ link.levels }}">
						{%- if childlink.links == blank -%}
							<a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
							{{ childlink.title | escape }}
							</a>
						{%- else -%}
							<details id="Details-HeaderSubMenu-{{ forloop.index }}">
							<summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
								<span>{{ childlink.title | escape }}</span>
								{% render 'icons' with icon:'caret' %}
							</summary>
							<ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
								{%- for grandchildlink in childlink.links -%}
								<li class="item item--{{ link.levels }}">
									<a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
									{{ grandchildlink.title | escape }}
									</a>
								</li>
								{%- endfor -%}
							</ul>
							</details>
						{%- endif -%}
						</li>
					{%- endfor -%}
					</ul>
				</details>
			</header-menu>
		{% endcapture %}

	   {% assign link_title = link.title | downcase %}
		<li class="items items-menu">
			{%- if link.links != blank -%}

				{% for block in section.blocks %}
					{% case block.type %}
						{% when "menu_with_banner" %}
							{% assign menu_with_banner =  block.settings.item_menu_banner | downcase %}
							{%- if menu_with_banner contains link_title -%}
								{% assign list__item_megamenu = link_title | append: ',' %}
								<header-menu>
									<details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu mega__menu-with-banner">
										<summary class="header__menu-item list-menu__item link focus-inset">
										<span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
										{% render 'icons' with icon:'caret' %}
										</summary>
										<div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup megamenu__banner" tabindex="-1">
											<ul class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}" role="list">
												{%- for childlink in link.links -%}
												<li class="item item--{{ link.levels }}">
													<a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
													{{ childlink.title | escape }}
													</a>
													{%- if childlink.links != blank -%}
													<ul class="list-unstyled" role="list">
														{%- for grandchildlink in childlink.links -%}
														<li class="item item--{{ link.levels }}">
															<a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
															{{ grandchildlink.title | escape }}
															</a>
														</li>
														{%- endfor -%}
													</ul>
													{%- endif -%}
												</li>
												{%- endfor -%}
											</ul>
											<div class="banner-main">
												{% if block.settings.menu_banner %}
												   <div class="banner-content">
													   {% if block.settings.link_banner %}
													   	<a href="{{ block.settings.link_banner }}" class="link-banner__link link">
													   {% endif %}
														<img class="img-responsive" src="{{ block.settings.menu_banner | img_url: 'master' }}"  />
														<div class="banner__info">
															{% if block.settings.title_banner %}
																<h2 class="banner-title"> {{ block.settings.title_banner }} </h2>
															{% endif %}
															{% if block.settings.sub_title_banner %}
																<h3 class="banner-sub-title"> {{ block.settings.sub_title_banner }} </h3>
															{% endif %}
														</div>
														{% if block.settings.link_banner %}
														   </a>
													    {% endif %}
													</div>	
												{% endif %}
											</div>
										</div>
									</details>
								</header-menu>
							{%- endif -%}
						{% when "menu_with_product" %}
							{% assign menu_with_product =  block.settings.text_product | downcase %}
							{%- if menu_with_product contains link_title -%}
								{% assign list__item_megamenu = list__item_megamenu | append: link_title | append: ',' %}
								<header-menu>
									<details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu mega__menu-with-product">
										<summary class="header__menu-item list-menu__item link focus-inset">
										<span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
										{% render 'icons' with icon:'caret' %}
										</summary>
										<div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup megamenu__product" tabindex="-1">
											<ul class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}" role="list">
												{%- for childlink in link.links -%}
												<li class="item item--{{ link.levels }}">
													<a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
													{{ childlink.title | escape }}
													</a>
													{%- if childlink.links != blank -%}
													<ul class="list-unstyled" role="list">
														{%- for grandchildlink in childlink.links -%}
														<li class="item item--{{ link.levels }}">
															<a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
															{{ grandchildlink.title | escape }}
															</a>
														</li>
														{%- endfor -%}
													</ul>
													{%- endif -%}
												</li>
												{%- endfor -%}
											</ul>
											<div class="product-content">
												{% if block.settings.menu_product %}
													<div class="menu__item-product">
														{% render 'card-product',
															card_product: all_products[block.settings.menu_product],
															media_aspect_ratio: 'adapt',
															show_secondary_image: false,
															extend_height: true
														%}
													</div>
													
												{% endif %}
											</div>
										</div>
									</details>
								</header-menu>
							{%- endif -%}
					{% endcase %}
				{% endfor %}
				
				{% unless list__item_megamenu contains link_title -%}
					{{ MenuDropdown }}
				{% endunless %}

			{%- else -%}
				<a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
				<span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
				</a>
			{%- endif -%}
		</li>	
	{%- endfor -%}
	</ul>
</nav>